.ShutterButton {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  line-height: 1.2;
  outline: none;
  transition: transform 0.1s;
  border: solid 2px white;
}

.ShutterButton:active {
  transform: scale(0.95);
}
